.xbody {
  background-color: hsla(210, 46%, 95%, 1);
  /* background-color: red; */
  font-family: "Barlow Semi Condensed", sans-serif;
  letter-spacing: 0px;
}
.xframewide {
  width: 1110px;
  height: 572px;
  /* background-color: orange; */
  display: flex;
  flex-direction: row;
}
.xfwcol1 {
  display: flex;
  flex-direction: column;
  width: 825px;
  height: 572px;
  /* background-color: aquamarine; */
}
.xfwcol2 {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 255px;
  height: 572px;
  /* background-color: pink; */
}
.xfwc1row1 {
  display: flex;
  flex-direction: row;
  width: 825px;
  height: 282px;
  /* background-color: green; */
}
.xfwc1row2 {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  width: 825px;
  height: 266px;
  /* background-color: blue; */
}
.xcard {
  border-radius: 8px;
  padding-top: 24px;
}
.xcard1 {
  background-color: hsla(263, 55%, 52%, 1);
  width: 540px;
  height: 282px;
  position: relative;
}
.xcard1graphic {
  position: absolute;
  top: 0px;
  left: 349px;
  z-index: 1;
}
.xcard2 {
  margin-left: 30px;
  background-color: hsla(217, 19%, 35%, 1);
  width: 255px;
  height: 282px;
}
.xcard3 {
  background-color: hsla(0, 0%, 100%, 1);
  width: 255px;
  height: 266px;
}
.xcard4 {
  margin-left: 30px;
  background-color: hsla(219, 29%, 14%, 1);
  width: 540px;
  height: 266px;
}
.xcard5 {
  background-color: hsla(0, 0%, 100%, 1);
  width: 255px;
  height: 572px;
}
.xcardtitlebar {
  display: flex;
  flex-direction: row;
}
.xcardtitleimagecontainer {
  margin-left: 30px;
  height: 32px;
  width: 32px;
}
.xcardtitleimage {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  border: solid 1px hsla(0, 0%, 100%, 0.5);
}
.xcardtitletext {
  margin-left: 14px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.xcttname {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: hsla(0, 0%, 100%, 1);
}
#xcttnamedark {
  color: hsla(217, 19%, 35%, 1);
}
.xcttrole {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: hsla(0, 0%, 100%, 0.5);
}
#xcttroledark {
  color: hsla(217, 19%, 35%, 0.5);
}
.xcardexcerpt{
  font-size: 20px;
  font-weight: 500;
  color: hsla(0, 0%, 100%);
  line-height: 23px;
  margin-top: 18px;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
  z-index: 2;
}
#xcardexcerptdark{
  color: hsla(217, 19%, 35%, 1);
}
.xcardquote{
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  color: hsla(0, 0%, 100%, 0.7);
  margin-top: 18px;
  margin-left: 30px;
  margin-right: 30px;
}
#xcardquotedark{
  color: hsla(217, 19%, 35%, 0.7);
}
.yframenarrow {
  /* background-color: yellow; */
  margin: 71px 24px;
  width: 327px;
  height: 1824px;
  display: flex;
  flex-direction: column;
}
.ycard1 {
  background-color: hsla(263, 55%, 52%, 1);
  width: 327px;
  height: 444px;
  position: relative;
}
.ycard1graphic {
  position: absolute;
  top: 0px;
  left: 199px;
  z-index: 1;
}
.ycard2 {
  margin-top: 24px;
  background-color: hsla(217, 19%, 35%, 1);
  width: 327px;
  height: 240px;
}
.ycard3 {
  margin-top: 24px;
  background-color: hsla(0, 0%, 100%, 1);
  width: 327px;
  height: 222px;
}
.ycard4 {
  margin-top: 24px;
  background-color: hsla(219, 29%, 14%, 1);
  width: 327px;
  height: 384px;
}
.ycard5 {
  margin-top: 24px;
  background-color: hsla(0, 0%, 100%, 1);
  width: 327px;
  height: 438px;
}
.ycardtitletext {
  margin-left: 14px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ycttname {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color: hsla(0, 0%, 100%, 1);
}
.ycttrole {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: hsla(0, 0%, 100%, 0.5);
}
.ycardexcerpt{
  font-size: 20.6px;
  font-weight: 500;
  color: hsla(0, 0%, 100%);
  line-height: 23px;
  margin-top: 18px;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
  z-index: 2;
}
.ycardquote{
  font-size: 13.9px;
  line-height: 16.8px;
  font-weight: 500;
  color: hsla(0, 0%, 100%, 0.7);
  margin-top: 18px;
  margin-left: 30px;
  margin-right: 30px;
}

@media (max-width: 1199px) {
  .xframewide {
    display: none;
  }
}

@media(min-width: 1200px) {
  .xcontainer {
    height: 100vh;
  }
  .yframenarrow {
    display: none;
  }
}