.xbody {
  background-color: red;
}

.xframewide {
  width: 1110px;
  height: 572px;
  background-color: orange;
}

.xframenarrow {
  background-color: yellow;
  margin: 71px 24px;
}

@media (max-width: 1199px) {
  .xframewide {
    display: none;
  }
}

@media(min-width: 1200px) {
  .xcontainer {
    height: 100vh;
  }
  .xframenarrow {
    display: none;
  }
}