$light: hsla(210, 46%, 95%, 1);

$secondary: hsla(217, 19%, 35%, 1);
// doubles text
$dark: hsla(219, 29%, 14%, 1);
// doubles text
$info: hsla(263, 55%, 52%, 1);
//doubles text

@import "../node_modules/bootstrap/scss/bootstrap";